/* open sans 300, 400, 600, 700 */
/* jlm red: color: #DC2028; */

/* home page */

/* navigation */

.logo {
	height: 70px;
	margin-top: 12px;
	margin-bottom: 12px;
}

/* hero image */

.hero-image {
  height: 700px;
  width: 100%;
  background-image:url("https://raw.githubusercontent.com/JessicaMeyer/jlmfinancial/master/img/skyline.jpg");
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-wording {
	margin-top: 35px;
}

.hero-title {
  color: #FFFFFF;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.hero-text {
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 100%;
}

#hero-button {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #DC2028;
}

/* about section */

.about-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 35px;
}

/* portfolio section */
/* link list */

.portfolio-section {
	background-color: #f8f8f8;
}


.portfolio-section-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #0a0a0a;
  font-size: 21px;
  padding-top: 25px;
}

.link-word {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #0a0a0a;
  font-size: 16px;
  padding-right: 5px;
}

#link-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

a.link-list:hover {
  color: #DC2028;
}

a:hover, a:focus {
  color: #dc2028;
  text-decoration: underline;
}

.dot {
  padding: 9px;
}

/* content list from links in jlm affiliate section */

.affiliate-title {
  background-color: white;
  color: #DC2028;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 20px;
}

.affiliate-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
}

span {
  font-weight: 600;
} 

.jet-picture {
   margin-top: 30px;
}

.senior-picture {
  width: 455px;
  height: 307px;
  margin-top: 30px;
  margin-bottom: 30px;
}


